<?xml version="1.0" encoding="utf-8"?>
<ClientConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AgentIP>192.168.3.19</AgentIP>
  <AgentPort>23889</AgentPort>
  <!--<ServiceIP>127.0.0.1</ServiceIP>-->
  <ServiceIP>192.168.3.222</ServiceIP>
</ClientConfigInfo>