<?xml version="1.0" encoding="utf-8"?>
<AgentConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AgentPortMap>
    <PortMap FromPort="10022" ServicePort="22" />
    <PortMap FromPort="15900" ServicePort="5900" />
  </AgentPortMap>
  <AgentPort>23889</AgentPort>
</AgentConfigInfo>